<h1 class="title">新增分類</h1>

<%= link_to "新增分類",new_astroser_category_path,class: 'button' %>

<article class="message">
  <div class="message-body">小提示：可使用拖拉調整分類順序喔！</div>
</article>

<table class="table is-fullwidth has-shadowed">
  <thead>
    <tr>
      <th>名稱</th>
      <th></th>
    </tr>
  </thead>

  <tbody class="sortable-items">
    <% @category.each do |category| %> 
      <tr class="item" data-item="<%= dom_id(category) %>">    <%# dom_id 是rails提供的一個helper %>
        <td><i class="fas fa-grip-vertical"></i> <%= link_to category.name, edit_astroser_category_path(category) %></td>
        <td>
          <%= link_to "刪除" , astroser_category_path(category), method: :delete, data: {confirm: '確認刪除?'}, class: 'button is-danger is-small' %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

