<h1 class="title">新增分類</h1>

<%= link_to "新增分類",new_astroser_category_path,class: 'button' %>

<table class="table is-fullwidth has-shadowed">
  <thead>
    <tr>
      <th>名稱</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @category.each do |category| %> 
      <tr>
        <td><%= link_to category.name, edit_astroser_category_path(category) %></td>
        <td>
          <%= link_to "刪除" , astroser_category_path(category), method: :delete, data: {confirm: '確認刪除?'}, class: 'button is-danger is-small' %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>